<main>
    <div class="record-upload">
        <!-- Other HTML here -->
        <div class="container-2">
          <div class="uploading">
            <div>
              <button class="upload-button">
                <!-- Upload button SVG -->
                <span class="label">Upload</span>
              </button>
              <span class="title hidden">Upload Success!</span>
              <p id="prediction-display"><%= prediction || "No prediction yet" %></p> <!-- Display prediction here -->
            </div>
          </div>
        </div>
      </div>
</main>
